a,h1,label,h2,p,input[type="text"]{
    font-family: 'Source Sans Pro', sans-serif;

}

body{
   background-color: #F5F5F5; 
}

button{
    width: 40%;
    height: 30px;
    background-color: #1fc27a;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.light-btn{
    width: 70%;
    height: 30px;
    background-color: #1fc27a;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.hard-btn{
    width: 70%;
    height: 30px;
    background-color: #1fc27a;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.input-text{
  width: 90%;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid#E0E0E0;
  color:#989898;
  margin-bottom: 20px;
  background-color: #E8E8E8;
}
.input-textarea{
  width: 90%;
  height: 70px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid#E0E0E0;
  color:#989898;
  background-color:	#E8E8E8;
}

.label-form{
    color: #B0B0B0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
}
.img-profile{
  width: 70%;
  height: 70%;
}

@import 'Home.scss';
@import 'Navbar.scss'